.container {
    margin-top: 40px !important;
}

.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(204, 48, 134, 0.63);
    word-wrap: normal;
}

.card-story{
    border-radius: .25rem;
    border: 1px solid rgba(204, 48, 134, 0.63);
    padding: 20px;
}

.row2{
    margin-top: 5%;
}
.card2{
    border-radius: .25rem;
    border: 1px solid rgba(204, 48, 134, 0.63);
    padding: 20px;
}

.card-block{
    padding: 1.25rem !important; 
}

.card-block img{
    padding-right: 10px;
}

.bubble{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.img-dif{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}